# credit @cewood: https://cewood.xyz/posts/my-i3-setup
[Unit]
Description=xsession for starting other user units, exec'd during i3wm startup
BindsTo=graphical-session.target
Wants=polybar@single.service
